<p id="notice"><%= notice %></p>

<div class="profile round" summary="profile information">
     <div class="main">
     <h2>
      <%#= gravatar_for @user %>
        <img src="http://placekitten.com/80/80">
      <%= @user.name %>
     </h2>
     </div>
     
     <div class="sidebar round">
        <strong>Name</strong> <%= @user.name %><br/>
        <strong>Email</strong> <%= @user.email %><br/>
        <strong>URL</strong> <%= link_to user_path(@user), @user%>
	<strong>Entries</strong> <%= @user.posts.count%>
	<br/>
<!--above equivalentlink_to user_path(@user), user_path(@user) -->
     </div>

</div>

<% unless @user.posts.empty? %>
<div class="entries" summary="user posts">
     <%= render @posts %>
</div>
<%end %>
<% #=will_paginate @posts %>

