<!DOCTYPE html>
<html>
<head>
 <title><%= @title %></title>
     <%= csrf_meta_tag %>
     <%= render 'layouts/stylesheets' %>
      <%= render 'layouts/javascripts' %>

</head>
<body>
<%= render 'layouts/header' %>
<div id="window">
  <div id="strip">
 <section class="round">
     <% flash.each do |key, value| %>
       <div class="flash <%= key %>"> <%= value %> </div>
     <% end %>
     <%= yield %>
     
  </section>
</div> <!--end of strip -->
       <div class='footer'></div>

   </div>
     <%= render 'layouts/footer' %>
     <%= debug(params) if Rails.env.development? %>
</body>    
  

</html>
